.TakenLesson
  .TakenLesson__LessonInfo
    .TakenLesson___LessonInfoType
    .TakenLesson__LessonInfoDate
    .TakenLesson__LessonInfoPlace
  .TakenLesson__OwnedInfo
    .TakenLesson__OwnedInfoPayment
    .TakenLesson__OwnedInfoRemark
    .TakenLesson__OwnedInfoUpdatedAt
