.TakenExam
  .TakenExam__ExamInfo
    .TakenExam__ExamInfo
    .TakenExam__ExamInfo
  .TakenExam__OwnedInfo
    .TakenExam__OwnedInfo__Group1
      .TakenExam__OwnedInfo__Group1Reexam
      .TakenExam__OwnedInfo__Group1Shintaikensa
      .TakenExam__OwnedInfo__Group1ExamTicket
      .TakenExam__OwnedInfo__Group1ExamNumber
      .TakenExam__OwnedInfo__Group1Pass_or_fail
    .TakenExam__OwnedInfoPayment
    .TakenExam__OwnedInfoRemark
    .TakenExam__OwnedInfoUpdatedAt
