-if controller.action_name == "new" ##newアクションの場合
  .UserOwnedExam
    =form_for( user_owned_exam, url: user_exam_user_owned_exams_path(params[:user_id], params[:exam_id]) ) do |f|
      .UserOwnedExam__Group1
        .UserOwnedExam__Group1Payment
          =f.label :payment_confirmation, "入金"
          =f.check_box :payment_confirmation
        .UserOwnedExam__Group1UpdatedAt
          =f.label :updated_at, "最終更新日"
          =simple_time(user_owned_exam.updated_at) if user_owned_exam.updated_at?
      .UserOwnedExam__Group2
        .UserOwnedExam__Group2ReExamStatus
          =f.label :re_exam_status, "再試験情報"
          %select{id: "re_exam_status"}
            %option{value:""}
            %option{value:"0"}不合格で再試
            %option{value:"1"}キャンセルで再試
        .UserOwnedExam__Group2Shintaikensa
          =f.label :shintaikensa_status, "身体検査"
          %select{id: "shintaikensa_status"}
            %option{value:""}選択してください
            %option{value:"0"}要
            %option{value:"1"}不要
            %option{value:"1"}証明書あり
      .UserOwnedExam__Group3
        .UserOwnedExam__Group3ExamTicket
          =f.label :exam_ticket, "受験票受け渡し"
          =f.check_box :exam_ticket
        .UserOwnedExam__Group3ExamNumber
          =f.label :exam_number, "受験番号"
          =f.number_field :exam_number
      .UserOwnedExam__Group4
        .UserOwnedExam__Group4Pass_or_fail
          =f.label :pass_or_fail, "合否"
          %select{id: "pass_or_fail"}
            %option{value:""}種類を選ぶ
            %option{value:"0"}合格
            %option{value:"1"}不合格
            %option{value:"2"}キャンセル
        .UserOwnedExam__Group4Remark
          =f.label :remark, "備考"
          =f.text_area :remark
      .UserOwnedExam__Submit
        =f.submit :登録
-else  # それ以外のアクション
  .UserOwnedList__ExamsList__Each
    =render partial: user_owned_exam.exam
    .UserOwnedExam
      /jsで、変更箇所の背景色を変える場所を特定するために、formタグのidにuser_owned_examのidを入れている
      /同様の理由で、各input,textarea,selectタグのdata属性に、user_owned_examのidを入れている
      =form_with(model: user_owned_exam, url: user_exam_user_owned_exam_path(user_owned_exam.user.id, user_owned_exam.exam.id, user_owned_exam.id), method: :patch , id: "user_owned_exam#{user_owned_exam.id}") do |f|
        .UserOwnedExam__Group1
          .UserOwnedExam__Group1Payment
            =f.label :payment_confirmation, "入金"
            =f.check_box :payment_confirmation, data:{id: user_owned_exam.id}
          .UserOwnedExam__Group1UpdatedAt
            =f.label :updated_at, "最終更新日"
            =simple_time(user_owned_exam.updated_at) if user_owned_exam.updated_at?
        .UserOwnedExam__Group2
          .UserOwnedExam__Group2ReExamStatus
            =f.label :re_exam_status, "再試験情報"
            %select{id: "re_exam_status", data:{id: user_owned_exam.id}}
              %option{value:""}
              %option{value:"0"}不合格で再試
              %option{value:"1"}キャンセルで再試
          .UserOwnedExam__Group2Shintaikensa
            =f.label :shintaikensa_status, "身体検査"
            %select{id: "shintaikensa_status", data:{id: user_owned_exam.id}}
              %option{value:""}選択してください
              %option{value:"0"}要
              %option{value:"1"}不要
              %option{value:"1"}証明書あり
        .UserOwnedExam__Group3
          .UserOwnedExam__Group3ExamTicket
            =f.label :exam_ticket, "受験票受け渡し"
            =f.check_box :exam_ticket, data:{id: user_owned_exam.id}
          .UserOwnedExam__Group3ExamNumber
            =f.label :exam_number, "受験番号"
            =f.number_field :exam_number, data:{id: user_owned_exam.id}
        .UserOwnedExam__Group4
          .UserOwnedExam__Group4Pass_or_fail
            =f.label :pass_or_fail, "合否"
            %select{id: "pass_or_fail", data:{id: user_owned_exam.id}}
              %option{value:""}
              %option{value:"0"}合格
              %option{value:"1"}不合格
              %option{value:"2"}キャンセル
          .UserOwnedExam__Group4Remark
            =f.label :remark, "備考"
            =f.text_area :remark, data:{id: user_owned_exam.id}
        .UserOwnedExam__Submit
