.UserInfo
  .UserInfo__Group1
    .UserInfo__Group1Kanji
    .UserInfo__Group1Furigana
  .UserInfo__Group2
    .UserInfo__Group2Gender
    .UserInfo__Group2Birth
  .UserInfo__Group3
    .UserInfo__Group3Nationality
  .UserInfo__Group4
    .UserInfo__Group4LicenseNumber
    .UserInfo__Group4LicenseExpiration
  .UserInfo__Group5
    .UserInfo__Group5Remark
    .UserInfo__Group5
