.UserInfo
  .UserInfo__Group1
    .UserInfo__Group1__Info1
      .UserInfo__Group1__Info1Kanji
        %p 氏名
        山田太郎
      .UserInfo__Group1__Info1Furigana
        %p フリガナ
        やまだたろう
      -# .UserInfo__Group1__Info1FormerKanji
      -#   田中太郎
      -# .UserInfo__Group1__Info1FormerFurigana
      -#   たなかたろう
    .UserInfo__Group1__Info2
      .UserInfo__Group1__Info2Gender
        男
      .UserInfo__Group1__Info2Birth
        1990/3/2
    .UserInfo__Group1__Info3
      .UserInfo__Group1__Info3Nationality
        韓国
    .UserInfo__Group1__Info4
      .UserInfo__Group1__Info4LIcenseStatus
        特殊
      .UserInfo__Group1__Info4LicenseNumber
        1234567890
      .UserInfo__Group1__Info4LicenseExpiration
        2023/5/6
    .UserInfo__Group1__Info5
      .UserInfo__Group1__Info5Remark
        こんにちは、初めまして
  .UserInfo__Group2
    .UserInfo__Group2__Info1
      .UserInfo__Group2__Info1PhoneNumber
        %p 電話番号
        00000000000
      .UserInfo__Group2__Info1PhoneNumber2
        %p 電話番号2
        00000000000
      .UserInfo__Group2__Info1Email
        yamadatarou@test.com
    .UserInfo__Group2__Info2
      .UserInfo__Group2__Info2PermanentAddress
        東京
      .UserInfo__Group2__Info2FormerPermanentAddress
        山梨
    .UserInfo__Group2__Info3
      .UserInfo__Group2__Info3PostalCode
        1230000
      .UserInfo__Group2__Info3Address
        東京都千代田区〇〇町0-0-0
    .UserInfo__Group2__Info4
      .UserInfo__Group2__Info4PostalCode2
        1230001
      .UserInfo__Group2__Info4Address2
        山梨県〇〇市〇〇町0-0-0
  .UserInfo__Group3
    .UserInfo__Group3__Info1
      .UserInfo__Group3__Info1Admin
        1
      .UserInfo__Group3__Info1Teacher
        1
