.UserInfo
  =form_with(model: @user, url: user_path, method: :patch, id: "user-update-form") do |f|
    .UserInfo__Group1
      .UserInfo__Group1__Info1
        .UserInfo__Group1__Info1Kanji
          =f.label :name, "氏名"
          =f.text_field :name
        .UserInfo__Group1__Info1Furigana
          =f.label :name_furigana, "フリガナ"
          =f.text_field :name_furigana
        -# .UserInfo__Group1__Info1FormerKanji
        -#   田中太郎
        -# .UserInfo__Group1__Info1FormerFurigana
        -#   たなかたろう
      .UserInfo__Group1__Info2
        .UserInfo__Group1__Info2Gender
          =f.label :gender, "男", class: "UserInfo__Group1__Info2GenderMale"
          =f.radio_button :gender, 0
          =f.label :gender, "女", class: "UserInfo__Group1__Info2GenderFemale"
          =f.radio_button :gender, 1
        .UserInfo__Group1__Info2Nationality
          =f.label :nationality, "国籍"
          =f.text_field :nationality, class: "UserInfo__Group1__Info2NationalityForm"
        .UserInfo__Group1__Info2Birth
          =f.label :birth, "生年月日"
          .UserInfo__Group1__Info2BirthSelect
            =date_select_ja(f.date_select :birth)
      .UserInfo__Group1__Info3
        .UserInfo__Group1__Info3LicenseStatus
          =f.label :license_status, "免許種別"
          =f.text_field :license_status
        .UserInfo__Group1__Info3LicenseExpiration
          =f.label :license_expiration_date, "有効期限"
          =date_select_ja(f.date_select :license_expiration_date)
        .UserInfo__Group1__Info3LicenseNumber
          =f.label :license_number, "免許番号"
          =f.number_field :license_number
    .UserInfo__Group2
      .UserInfo__Group2__Info1
        .UserInfo__Group2__Info1PhoneNumber
          =f.label :phone_number, "電話番号"
          =f.telephone_field :phone_number
        .UserInfo__Group2__Info1PhoneNumber2
          =f.label :phone_number2, "電話番号2"
          =f.telephone_field :phone_number2
        .UserInfo__Group2__Info1Email
          =f.label :email, "Eメール"
          =f.email_field :email
      .UserInfo__Group2__Info2
        .UserInfo__Group2__Info2PostalCode
          =f.label :postal_code, "郵便番号"
          =f.number_field :postal_code
        .UserInfo__Group2__Info2PermanentAddress
          =f.label :permanent_address, "本籍地"
          =f.text_field :permanent_address
        .UserInfo__Group2__Info2FormerPermanentAddress
          =f.label :former_permanent_address, "旧本籍地"
          =f.text_field :former_permanent_address
        .UserInfo__Group2__Info2Address
          =f.label :address, "住所"
          =f.text_area :address
      .UserInfo__Group2__Info3
        .UserInfo__Group2__Info3PostalCode2
          =f.label :postal_code2, "郵便番号2"
          =f.number_field :postal_code2
        .UserInfo__Group2__Info3Address2
          =f.label :address2, "住所2"
          =f.text_area :address2
      .UserInfo__Group2__Info4
        .UserInfo__Group2__Info4Remark
          =f.label :remark, "備考"
          =f.text_area :remark

    .UserInfo__Group3
      .UserInfo__Group3__Info1
        .UserInfo__Group3__Info1Admin
          =f.label :admin, "管理者"
          =f.check_box :admin, checkedvalue: 1, uncheckedvalu: ""
        .UserInfo__Group3__Info1Teacher
          =f.label :teacher, "講師"
          =f.check_box :teacher, checkedvalue: 1, uncheckedvalu: ""
      .UserInfo__Group3__Info2
