.Navbar
  .Navbar__Info
    現在の表示
  .Navbar__Each
    .Navbar__EachKojin
  .Navbar__Each
    .Navbar__EachCalendar
  .Navbar__Each
    .Navbar__EachLessonSyokyuu
    .Navbar__EachLessonJoukyuu
    .Navbar__EachLessonJitugi
    .Navbar__EachLessonTokusyu
  .Navbar__Each
    .Navbar__EachExam12kyuu
    .Navbar__EachExamTokusyu
  .Navbar__Each
    .Navbar__EachRxLessonKousin
    .Navbar__EachRxLessonSikkou
