.Navbar
  .Navbar__Info
    .Navbar__InfoCurrentPage
      現在の表示
  .Navbar__Group1
    .Navbar__Group1Kojin
      個人
  .Navbar__Group2
    .Navbar__Group2Calendar
      カレンダー
  .Navbar__Group3
    .Navbar__Group3LessonSyokyuu
      初級
    .Navbar__Group3LessonJoukyuu
      上級
    .Navbar__Group3LessonJitugi
      実技
    .Navbar__Group3LessonTokusyu
      特殊
  .Navbar__Group4
    .Navbar__Group4Exam12kyuu
      1・2級
      %br
      試験
    .Navbar__Group4ExamTokusyu
      特殊試験
  .Navbar__Group5
    .Navbar__Group5RxLessonKousin
      更新
    .Navbar__Group5RxLessonSikkou
      失効
