-if controller.action_name == "new" || controller.action_name == "show" ##newアクションの場合(user_owned_lessons#new),showアクションの時（users#show）
  .Lesson--withoutlink
    .Lesson__Group1
      .Lesson__Group1Type
        %label 種類
        =lesson_type(lesson.type_number)
      .Lesson__Group1Date
        %label 講習日
        =simple_date(lesson.date)
    .Lesson__Group2
      .Lesson__Group2Place
        %label 会場名
        =lesson.place.facility_name if lesson.place
      .Lesson__Group2GGEvent
        %label Googleカレンダー
        =gg_event?(lesson.gg_event_id)
    .Lesson__Group3
      .Lesson__Group3Teacher
        %label 講師
        =lesson.teachers.map{|teacher| teacher.name}.join(", ")
      .Lesson__Group3Remark
        %label 備考
        =lesson.remark
-else                               ##それ以外？(lessons#index)の場合
  %a.Lesson{href:"#{new_user_lesson_user_owned_lesson_path(params[:user_id], lesson.id)}"}
    .Lesson__Group1
      .Lesson__Group1Type
        %label 種類
        =lesson_type(lesson.type_number)
      .Lesson__Group1Date
        %label 講習日
        =simple_date(lesson.date)
    .Lesson__Group2
      .Lesson__Group2Place
        %label 会場名
        =lesson.place.facility_name if lesson.place
      .Lesson__Group2GGEvent
        %label Googleカレンダー
        =gg_event?(lesson.gg_event_id)
    .Lesson__Group3
      .Lesson__Group3Teacher
        %label 講師
        =lesson.teachers.map{|teacher| teacher.name}.join(", ")
      .Lesson__Group3Remark
        %label 備考
        =lesson.remark
