.LessonSearch
  .LessonSearch__Group1
    .LessonSearch__Group1TypeField
      %select{id: "type_number"}
        %option{value:""}種類を選ぶ
        %option{value:"0"}実技
        %option{value:"1"}初級
        %option{value:"2"}上級
        %option{value:"3"}特殊
    .LessonSearch__Group1DateField
      %input{type:"date", name:"calendar", max:"9999-12-31", id:"date"}
    .Search__Submit
      %input{type: "submit", href:"/lessons/search",value: "検索"}
  .Search__List
    =render @lessons
