// 色見本
$yellow1:    #fad390;
$yellow2:    #f6b93b;
$yellow3:    #fa983a;
$yellow4:    #e58e26;
$red1:       #f8c291;
$red2:       #e55039;
$red3:       #eb2f06;
$red4:       #b71540;
$deapblue1:  #6a89cc;
$deapblue2:  #4a69bd;
$deapblue3:  #1e3799;
$deapblue4:  #0c2461;
$lightblue1: #82ccdd;
$lightblue2: #60a3bc;
$lightblue3: #3c6382;
$lightblue4: #0a3d62;
$green1:     #b8e994;
$green2:     #78e08f;
$green3:     #38ada9;
$green4:     #079992;
$gray1:      #f1f2f6;
$gray2:      #ced6e0;
$gray3:      #a4b0be;
$gray4:      #57606f;
$gray5:      #2f3542;


//user_info


%field_base{
  border-radius: 20px;
  border-color: $gray2;
  border-style: solid;
  padding: 5px;
  font-size: 24px;
  color: $gray4;
  outline: none;
}

%label_base{
  display: block;
  padding-bottom: 10px;
  color: $gray3;
  font-size: 20px;
}
