.ExamSearch{
  &__Group1{
    margin: 0 auto;
    overflow: auto;
    width: 872px;
    &TypeField{
      @extend %dropdown_base;
      float: left;
    }
    &DateField{
      float: left;
      input{
        border: 2px solid $gray2;
        border-radius: 33px;
        padding: 5px;
        padding-left: 15px;
        height: 38px;
        width: 250px;
        font-size: 24px;
        color: $gray3;
      }
    }
    &AnnouncementDateField{
      float: left;
      input{
        border: 2px solid $gray2;
        border-radius: 33px;
        padding: 5px;
        padding-left: 15px;
        height: 38px;
        width: 250px;
        font-size: 24px;
        color: $gray3;
      }
    }
      input:active{
        border: none;
      }
    }
  }

.Search__{
  &Submit{
    float: left;
    input{
      height: 52px;
      width: 100px;
      border-radius: 33px;
      background-color: $lightblue1;
      color: white;
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      outline: none;
      // 中身の要素縦方向中央寄せ
      display: flex;
      align-items: center;
      // 中身の要素横方向中央寄せ
      justify-content: center;
      cursor: pointer;
    }
  }
  &__List{

  }
}
